
.home-banner {
    padding: 20px;
    height: 70vh;
    width: 100%;
    justify-content: space-between;
}

.banner-head>h1 {
    font-size: 50px;
    letter-spacing: 2px;
}

.banner-head>h2 {
    font-weight: 600;
    letter-spacing: 3px;
}

.banner-head>p {
    font-size: 5vh;
    padding: 0px 20px;
}

.banner-end {
    width: 100%;
    padding: 10px 0px;
}

.banner-end>.link-tag {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(37, 3, 71);
    text-align: center;
}

.banner-end>p {
    margin: 10px 0px;
}

.poster-img-div{
    width: 100vw;
    padding: 10px 20px;
    justify-content: center;
}
.poster-img{
    width: 60%;
}
@media screen and (max-width:576px) {
    .home-banner {
        height: 60vh;
        background-color: rgb(66, 58, 73);
        padding-bottom: 0px;
    }

    .banner-head>h1 {
        font-size: 20px;
        text-align: center;
    }

    .banner-head>p {
        font-size: 14px;
        text-align: center;
    }

    .banner-head>h2 {
        font-size: 13px !important;
        font-weight: 500;
    }

    .sym-name {
        font-size: 20px !important;
        font-weight: 600;
    }

    .banner-end>p {
        font-size: 10px;
    }

    .banner-end>span {
        padding: 3px 7px;
        border-radius: 8px;
        background-color: rgb(37, 3, 71);
        text-align: center;
        font-size: 10px;
    }
}


/* dept redirect  */
.dept-nav-head {
    background-color: rgb(28, 0, 46);
}

.redirect-main {
    width: 99.6vw;
    margin: 0px;
    overflow-x: scroll;
    background-color: rgb(28, 0, 46);
    padding: 10px 0;
}
.redirect-main::-webkit-scrollbar {
    width: 0px;
}

.dept-redirect {
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    width: 200vw;
    background-color: none;
}
.btn-top{
    font-size: 40px;
    justify-content: flex-end;
    padding: 0 20px;
    border: none;
    background-color: rgb(28, 0, 46);
    cursor: pointer;
}
@media screen and (max-width:576px) {
    .redirect-main{
        padding: 0;
    }
    .dept-redirect {
        padding: 0px;
        width: 100vw;
        margin: 0;
        flex-direction: column;
        height: fit-content;
    }
    .dept-nav-head{
        font-size: 25px;
    }
    .btn-top{
        font-size: 30px;
    }
}