.intro-div{
    height:95vh;
    justify-content: space-between;
}
.intro-txt-animation{
    height: 90%;
    justify-content: center;
}
.intro-clg-name{
    font-size: 60px;
    text-align: center;
}
.intro-txt-animation>span{
    font-size: 2vw;
}
.intro-btn{
    background-color: rgb(34, 6, 61);
    color: white;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px 0px;
    text-decoration: none;
    color: none;
}
.intro-btn:hover{
    background-color: rgb(40, 4, 77);
}
.intro-para{
    color: rgb(90, 87, 87);
    padding: 10px 0;
}
@media screen and (max-width:576px) {
    .intro-clg-name{
        font-size:22px;
    }
    .intro-txt-2{
        font-size: 20px;
    }
    .intro-txt-animation>span{
        font-size: 15px;
        padding: 0 10%;
        text-align: center;
    }
    .intro-btn{
        padding: 3px 15px;
        font-size: 10px;
    }
    .intro-para{
        font-size: 10px;
    }
}