.card-div{
    background-color: rgb(46, 41, 49);
    padding: 20px 10%;
    justify-content: space-between;
}
.card{
    background-color: rgb(83, 37, 129);
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width:576px) {
    .card-div{
        flex-direction: column;
        padding:10px;
    }
    .card{
        width: 100%;
        margin: 5px 0px;
    }
    .card>h3{
        font-size: 15px;
    }
    .card>p{
        font-size: 12px;
    }
}