.contact-main-div{
    background-color: rebeccapurple;
    width: 80%;
    margin: 20px auto;
    position: relative;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contact-text{
    padding: 20px 10px;
    gap: 10px;
    width: 50%;
}
.contact-text>span{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px 40px;
    width: fit-content !important;
    background-color: rgb(85, 0, 170);
}
.contact-inputs{
    gap: 20px;
    width: 70%;
    padding-top: 20px;
}
.contact-inputs>input{
    margin: 0 auto;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.contact-card-div{
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.contactCard{
    gap: 10px;
    width: fit-content;
    padding: 5px;
}
.contactCard>span{
    font-size: 25px;
}
.contactCard>div>p{
    font-size: 15px;
}
.contact-map{
    background-color: rgb(55, 0, 117);
    height: 350px;
    width: 350px;
}

@media screen and (max-width:750px) {
    .contact-main-div{
        flex-direction: column-reverse;
        height: fit-content;
        width: 95%;
    }
    .contact-text{
        width: 100%;
    }
    .contact-map{
        position:relative;
        width: 100%;
        height: 250px;
    }
    .contact-text>span{
        width: 100%;
    }
    .contact-inputs>input{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .contactcard-div{
        width: 100% !important;
    }
}