.instruction-div {
    width: 100%;
    background-image: linear-gradient(120deg,rgb(24, 5, 37),rebeccapurple,rgb(24, 5, 37));
}
.instruction-div>h1{
    font-weight: 500;
    letter-spacing: 2px;
}
.instruction-content{
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    margin: 10px auto;
}
.i-div-1 {
    width:40% ;
    background-image: url('../../../assets/instructionImg.png');
    background-position: center;
    background-size:cover;
    background-position-y: -80px;
    background-repeat: no-repeat;
}

.i-div-2 {
    width: 60%;
}

.instru-div {
    margin-bottom: 2px;
    padding: 10px;
}

.instru-div>p {
    font-size: 18px;
    width: 90%;
}

.instru-div>span {
    font-size: 20px;
    background-color: rgb(49, 6, 92);
    padding: 10px 20px;
    border-radius: 50%;
    height: fit-content;
    margin: 0 10px;
}

@media screen and (max-width:576px) {
    .instruction-div{
        padding: 10px 0;
    }
    .instruction-div>h1{
        font-size: 25px;
        font-weight: 400;
    }
    .instruction-content{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    .instru-div>p {
        font-size: 13px;
    }
    .instru-div>span {
        font-size: 15px;
        padding: 5px 11px;
    }
    .instru-div {
        margin-bottom: 2px;
        padding: 5px;
        width:100%;
    }
    .i-div-1{
       display: contents;
    }
    .i-div-2{
        width: 100%;
    }
}