.about-event {
    background-color: rgb(77, 65, 90);
    padding: 20px 15%;
}
.about-txt>p {
    margin: 10px 0px;
    font-size: 18px;
}
.about-event>h2{
    line-height: 35px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}
.about-img {
    background-color: rgb(52, 25, 68);
    width:100%;
    margin: 0px 20px;
}
.poster-img-div{
    width: 100%;
    padding: 10px 20px;
    align-items: center;
}
.poster-img-div>h2{
    color: rgb(26, 3, 41);
    margin: 10px 0;
}
.poster-img{
    width: 90%;
}
@media screen and (max-width:576px) {
    .about-event {
        padding: 8px;
    }
    .about-event>h2{
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .about-event-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-txt{
        padding: 0px 10px;
        text-align: justify;
    }
    .about-txt>h2 {
        font-size: 20px;
    }
    .about-txt>p {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .about-img{
        margin: 0px;
        margin: 5px 0;
    }
    .poster-img-div{
        padding: 0;
        margin: 0px;
    }
    .poster-img{
        width: 100%;
    }
    .poster-img-div>h2{
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
    }
}