.deptcard{
    padding: 10px;
    background-color: rebeccapurple;
    border-radius: 20px;
    margin: 0 10px;
    height: 300px;
    width: 250px;
}
.deptcard:hover{
    background-color: rgb(57, 15, 99);
    transition: 1s;
    cursor: pointer;
}
.deptcard-img{
    background-color: rgb(39, 2, 68);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.dept-link{
    background-color: rgb(49, 10, 82);
    padding: 5px 10px;
    border-radius: 20px;
}
@media screen and (max-width:576px) {
    .deptcard{
        width: 75vw;
        height: fit-content;
        border-radius: 10px;
        margin: 10px auto;
    }
    .deptcard>h2{
        font-size: 18px;
    }
    .deptcard>p{
        font-size: 13px;
        margin: 5px 5px;
    }
    .dept-link{
        width: 50%;
    }

}