:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html::-webkit-scrollbar{
  width: 5px;
}
html::-webkit-scrollbar-track{
  background-color: grey;
}
html::-webkit-scrollbar-thumb{
  background-color: black;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.h-100vh{
  height: 100vh;
}
.row{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
}
.fsz-20px{
  font-size: 20px;
}
.sym-title{
  letter-spacing: 3px;
}
.txt-align-center{
  text-align: center;
}
