:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html::-webkit-scrollbar{
  width: 5px;
}
html::-webkit-scrollbar-track{
  background-color: grey;
  width: 5px;
}
html::-webkit-scrollbar-thumb{
  background-color: rgb(39, 5, 94);
  width: 5px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.h-100vh{
  height: 100vh;
}
.row{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-sb{
  justify-content: space-between;
}
.justify-se{
  justify-content: space-evenly;
}
.align-center{
  align-items: center;
}
.align-start{
  align-items: start;
}
.col{
  display: flex;
  flex-direction: column;
}
.fsz-20px{
  font-size: 20px;
}
.sym-title{
  letter-spacing: 3px;
}
.txt-align-center{
  text-align: center;
}
.txt-align-left{
  text-align: left;
}
.link-tag{
  text-decoration: none;
  color: white;
  margin: 5px;
  cursor: pointer;
}

/* bottom to top button */
.bottom-top-btn{
  justify-content: flex-end;
  margin-bottom: -60px;
}

.btn-top{
  font-size: 40px;
  justify-content: flex-end;
  border: none;
  margin-right: 30px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}
@media screen and (max-width:576px) {
  .bottom-top-btn{
    margin-top: -50px;
    margin-bottom: 0;
  }
  .btn-top{
    font-size: 30px;
    margin-right: 10px;
}
}